<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "グリッドスケール　株式会社", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "会社概要",   root_path %></li>
        <li><%= link_to "サービス",   root_path %></li>
        <li><%= link_to "事業内容",   root_path %></li>
        <li><%= link_to "お客様声",   root_path %></li>
        <li><%= link_to "ログイン", login_index_path %></li>
      </ul>
    </nav>
  </div>
</header>