<!DOCTYPE html>
<html>
<head>
  <% provide(:title, 'Regist User' ) %>
</head>

<body>
<% provide(:screen_code, Constants::REGIST_USER_SCREEN ) %>

<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <%= form_for(@user, :url => {:controller => :login, :action => :create}) do |f| %>

        <%= f.label :user_key, t('views.user.user_key'), class: 'red_font' %>
        <%= f.text_field :user_key, class: 'form-control', maxlength: 16 %>

        <%= f.label :user_email, t('views.user.user_email'), class: 'red_font' %>
        <%= f.text_field :user_email, class: 'form-control', maxlength: 16 %>
        <%= label :email_repeat, '', class: 'red_font', id: 'email_repeat' %>
        <br />
        <%= f.label :user_name, t('views.user.user_name'), class: 'red_font' %>
        <%= f.text_field :user_name, class: 'form-control', maxlength: 60 %>

        <%= f.label :user_password, t('views.user.user_password'), class: 'red_font' %>
        <%= f.password_field :user_password, class: 'form-control', maxlength: 16 %>

        <%= f.label :password, t('views.user.user_password'), class: 'red_font' %>
        <%= f.password_field :password, class: 'form-control', maxlength: 16 %>

        <%= f.label :password_confirmation, t('views.user.user_password'), class: 'red_font' %>
        <%= f.password_field :password_confirmation, class: 'form-control', maxlength: 16 %>

        <br />
        <%= f.submit t('views.user.register'), class: "btn btn-primary" %>

    <% end %>
  </div>
</div>
<div id="login_view_notice" class="hidden" title=<%= 'views.common.delete' %>>
  <p> <%=  'This email is already regiest!' %> </p>
</div>
</body>
</html>



<script type="text/javascript">

    $(document).ready(function(){
        var loginViewJS = new LoginViewJS();

        $('#user_user_email').change(function() {
            loginViewJS._ajax_checkemail();
        });

    });

    function LoginViewJS() {};

    LoginViewJS.prototype._ajax_checkemail = function() {

        $.ajax({
            type: "GET",
            url: "<%= ajax_login_regist_email_check_path %>",
            dataType: "json",
            data: {user_email: $('#user_user_email').val()},
            success: function(data) {
                if (data != null) {
                    var json = $.parseJSON(JSON.stringify(data));
                    if (json[0] == 0) {
                        $("#login_view_notice").removeClass("hidden");
                        $('#login_view_notice').dialog({
                            resizable: false,
                            height: "auto",
                            width: 400,
                            modal: true,
                            buttons: {
                                OK: function () {
                                    $(this).dialog("close");
                                }
                            }
                        });
                        $("#email_repeat").html(json[1]);
                    } else {
                        $("#email_repeat").val('');
                    }
                }
            },
            error: function () {
                alert("Ajax Error");
            }
        });
    };

</script>